/* Base */

picture img, img {
	max-width: 100%; 
	height: auto;
}

.clearfix-modern {
	overflow: hidden;
	/*width: any explicit value;*/
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

/* Sprite Test */

.l-logo {
	width: 100px;
	height: 100px;
}

.logo {
	display: block;
	background: url("/img/booking_logo_sprite@1x.png") 0 0 no-repeat;
	cursor: pointer;
}

.logo:hover {
		background: url("/img/booking_logo_sprite@1x.png") -100px 0 no-repeat;
}

@media only screen and (min-width: 45em) {
	.l-logo {
	width: 200px;
	height: 200px;
	}
	
	.logo {
		background: url("/img/booking_logo_sprite@2x.png") 0 0 no-repeat;
	}

	.logo:hover {
		background: url("/img/booking_logo_sprite@2x.png") -200px 0 no-repeat;
	}
}

@media only screen and (min-width: 65em) {
	.l-logo {
	width: 300px;
	height: 300px;
	}
	
	.logo {
		background: url("/img/booking_logo_sprite@3x.png") 0 0 no-repeat;
	}
	.logo:hover {
		background: url("/img/booking_logo_sprite@3x.png") -300px 0 no-repeat;
	}
}

/* Fluid BG image responsive */

.logo-fluid-container {
	max-width: 600px; /* constrain width to max-width of image */
}

.logo-fluid {
	padding-top: 50%; /* 300px/600px */
	background-image:url("/img/booking_logo_sprite@3x.png");
	background-size:cover;
	background-position:center; /* IE fix */
}

/* Srcset image responsive */

.logo-srcset-container {

}

.logo-srcset {

}

/* picture element image responsive */

.logo-picture-container {

}

.logo-picture {

}

/* Flexbox test */
.flex-container {
	display: flex;
	justify-content: space-between;
}

.flex1 {
	width: 25%;
	height: 100px;
	background-color: red;
}

.flex2 {
	width: 25%;
	height: 100px;
	background-color: green;
}

.flex3 {
	width: 25%;
	height: 100px;
	background-color: yellow;
}

/* Old school grid test */

.row {
	background-color: green;
	margin-bottom: 1.5em;
}

.col{
	
	background-color: red;
	margin-bottom: 10px;

}

@media only screen and (min-width: 45em) {
	.col {
		float: left;
		border-right: 1px dashed black;
		width: 25%;
		margin-right: 10px;
		margin-bottom: 0.5em;
	}

}

@media only screen and (min-width: 65em) {
	.row:first-child {
		padding-left: 1em;
	}

}

.gallery-contain {
      background-color: blue;
      padding: 0;
}

@media only screen and (min-width: 45em) {
  .gallery-contain {
    background-color: blue;
    padding-left: 4%;
    width: 100%;
  }
}

.gallery-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-entry {
  color: white;
  display: block;
  list-style: none;
  margin-bottom: 4%;
  height: 200px;
  background: url(/img/paris.jpg);
  background-size: cover;
}

@media only screen and (min-width: 45em) {
  .gallery-entry {
    float: left;
    width: 20%;
    margin-right: 4%;
    height: 200px;

  }
  .gallery-entry:first-child {
    color: red;

  }
}

.gallery-entry--bg {
  background-color: red;
}







